.page_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo {
    height: 300px;
    margin-top: 50px;
}

.page_wrap h1 {
    margin-top: 50px;
}

.page_wrap button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    background-color: #F5A343;
    color: #fff;
    font-weight: 700;
    width: min(300px, 100%) !important;
    border: none;
    cursor: pointer;
    padding: 13px !important;
    font-size: 16px;

}

.nav {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 20px;
    left: 20px;
}

.nav_button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #0088ad;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.nav_button:hover {
    background-color: #006f8a;
}
  